<!--Footer-->
<footer class="page-footer text-center font-small stylish-color darken-2 mt-4 wow fadeIn  ">

     <!-- Footer Links -->
    <div class="pt-4">
      
        <div class="container text-center text-md-left ">
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <p>About Jaikisaan</p>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About US</a>
                        </li>
                        <li>
                            <a href="#!">Contact Us</a>
                        </li>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <p>Help</p>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Creating Account</a>
                        </li>
                        <li>
                            <a href="#!">Buy Product</a>
                        </li>
                        <li>
                            <a href="#!">Upload Products</a>
                        </li>
                        <li>
                            <a href="#!">Prices Checking</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3">
                    <!-- Content -->
                    <p>Mail Us:</p>
                    <p> Jaikisaan Private Limited,
                        Buildings Bayyaram,
                        Bayyavaram Village,
                        Krosur Mandal,
                        Guntur, 522402,
                        A.P, India.
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3">
                    <!-- Content -->
                    <!-- <img src="/assets/img/farmer-icon.png" class="img-thumbnail rounded float-top" style="height: 30px;width:30px"> -->
                    <i class="fas fa-seedling fa-2x"></i>
                    <p> Jaikisaan is a organizatio which intialised to help farmers to get paid for their efforts

                    </p>
                    <!-- Copyright -->
                    <span class="text-center py-3">Ⓒ 2020 jaikisaan All rights reserved </span>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </div>
       
    </div>
     <!-- Footer Links -->

    <hr class="my-4 white">

    <!-- Social icons -->
    <div class="pb-4">
         <!-- Facebook -->
         <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-lg"> </i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-lg"> </i>
        </a>
    </div>
    <!-- Social icons -->



</footer>
<!--/.Footer-->