<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="/assets/img/jaikisaanIcon.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">
            <a routerLink="home" routerLinkActive="active"
            class="list-group-item list-group-item-action waves-effect">
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Home
             </a>
            <a routerLink="tables/table1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="th-large" class="mr-3"></mdb-icon>All Products
            </a>

            <a routerLink="dashboards/v1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-bar" class="mr-3"></mdb-icon>MarketPrices
            </a>
            <span *ngIf="accountid != 0">
            <a routerLink="profiles/profile1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>My Account
            </a>

            <a routerLink="myorders" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="cart-arrow-down" class="mr-3"></mdb-icon>My Orders
            </a>
             </span>
            <a routerLink="maps/map1" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="heading" class="mr-3"></mdb-icon>Help Center
            </a>

            <a routerLink="nonExistingPath" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>404
            </a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" routerLink="home">
                <strong class="blue-text">Jaikisaan</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" mdbWavesEffect>Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank" mdbWavesEffect>About MDB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://mdbootstrap.com/angular/getting-started/" target="_blank" mdbWavesEffect>Free download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank" mdbWavesEffect>Free tutorials</a>
                </li> -->
            </ul>
            <!-- Links -->
           <app-login></app-login> 

        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->