<!-- Search form -->
<ul class="navbar-nav nav-flex-icons mx-5 font-style">

    <li class="nav-item">
        <!-- <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light"
    target="_blank" mdbWavesEffect>
    <mdb-icon fab icon="user-plus" class="mr-2"></mdb-icon>Sign Up
</a>-->
        <div class="btn-group ml-4" mdbDropdown>
            <mdb-icon far icon="user-circle" classInside="dropdown-toggle waves-light" size="2x" mdbDropdownToggle
                class="waves-effect" mdbWavesEffect></mdb-icon>
            <!--<a mdbDropdownToggle mdbWavesEffect type="button" class="dropdown-toggle waves-light"
    mdbWavesEffect style="height: auto; width: 30px">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
        class="img-fluid rounded-circle z-depth-0"></a>-->
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
                    (click)="frame.show()" mdbWavesEffect>
                    <mdb-icon fas icon="user-plus" class="mr-2"></mdb-icon> Login / Sign Up


                </a>

                <a class="dropdown-item" href="#">
                    <mdb-icon fas icon="user-edit" class="mr-2"></mdb-icon> Profile
                </a>

            </div>
        </div>


    </li>
    <li class="nav-item ml-4">
        <!--<a href="https://mdbootstrap.com/products/angular-ui-kit/" class="ml-1 nav-link border border-light rounded" mdbWavesEffect>
    <mdb-icon far icon="user" class=" left"></mdb-icon> Log In</a>-->
    <a class="nav-link navbar-brand" mdbWavesEffect>Sign In
        
    </a>
    </li>
</ul>




<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body mx-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button mdbBtn type="button" (click)="onclickSigninORup('signin')" color="cyan" mdbWavesEffect><a><mdb-icon fas icon="user-alt" class="mr-2"></mdb-icon>Sign In </a></button>
                            <button mdbBtn type="button" (click)="onclickSigninORup('signup')" color="cyan" mdbWavesEffect><a><mdb-icon fas icon="user-plus" class="mr-2"></mdb-icon>Sign UP</a></button>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
                <hr>

                <div *ngIf="selectedLogin === 'signup' ; then thenBlock; else elseBlock"></div> 
                <ng-template #thenBlock>
                    <div class="row">
                        <div class="column">
                            <img src="/assets/img/signup.jpg" style="height: -webkit-fill-available;width: auto;"
                                alt="Paris">
                        </div>
                        <div class="column">
                            <div class="md-form mb-5">
    
                                <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                                <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail"
                                    class="form-control" mdbInput mdbValidate>
                                <label for="defaultForm-email">Your email</label>
                                <mdb-error
                                    *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                                    Input invalid
                                </mdb-error>
                                <mdb-success
                                    *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                                    Input
                                    valid
                                </mdb-success>
                            </div>
    
                            <div class="md-form mb-4">
                                <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                                <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword"
                                    class="form-control" mdbInput mdbValidate>
                                <label for="defaultForm-pass">Your password</label>
                                <mdb-error
                                    *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                                    Input invalid
                                </mdb-error>
                                <mdb-success
                                    *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                                    Input valid
                                </mdb-success>
                            </div>
                            <div><button mdbBtn color="default" class="waves-light btn-sm" mdbWavesEffect>Sign UP</button>
                            </div>
                            <div><a class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                                    <mdb-icon fas icon="window-close" class="2x"></mdb-icon>
                                </a></div>
    
                        </div>
                    
                    
                    
                    
                    </div>
                </ng-template>

                <ng-template #elseBlock>
                    <div class="row">
                    <div class="column">
                        <img src="/assets/img/signin.jpg" style="height: -webkit-fill-available;width: auto;"
                            alt="Paris">
                    </div>
                    <div class="column">
                        <div class="md-form mb-5">

                            <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                            <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail"
                                class="form-control" mdbInput mdbValidate>
                            <label for="defaultForm-email">Your email</label>
                            <mdb-error
                                *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                                Input invalid
                            </mdb-error>
                            <mdb-success
                                *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                                Input
                                valid
                            </mdb-success>
                        </div>

                        <div class="md-form mb-4">
                            <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                            <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword"
                                class="form-control" mdbInput mdbValidate>
                            <label for="defaultForm-pass">Your password</label>
                            <mdb-error
                                *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                                Input invalid
                            </mdb-error>
                            <mdb-success
                                *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                                Input valid
                            </mdb-success>
                        </div>
                        <div><button mdbBtn color="default" class="waves-light btn-sm" mdbWavesEffect>Login</button>
                        </div>
                        <div><a class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                                <mdb-icon fas icon="window-close" class="2x"></mdb-icon>
                            </a></div>

                    </div>
                    </div>
                </ng-template>

                
               
                
            
            
            
            </div>
        </div>
    </div>
</div>